.apple-form {
  .apple-form-item {
    margin-bottom: 24px;

    .apple-form-label {
      display: block;
      font-size: 13px;
      font-weight: 500;
      color: #86868b;
      letter-spacing: -0.008em;
      margin-bottom: 8px;
    }

    &.apple-form-item-error {
      .apple-form-error-message {
        margin-top: 8px;
        font-size: 13px;
        color: #ff3b30;
      }
    }
  }
}

